{{outlet}}

<h1>Este es el template de products</h1>

<form {{action "addProduct" on='submit'}}>
<p>{{input type='text' value=name}}</p>
<p>{{input type='text' value=calories}}</p>
<button>Añadir producto</button>
</form>



