<h1>Hola mundo</h1>




<form {{action 'valdiarUsuario' on='submit'}}>
	<p>User: {{input type="text" value=user}}</p>
	<p>Password: {{input type="password" value=password}}</p>
	<button>Validar</button>
</form>


{{outlet}}